<!DOCTYPE html>

<html>
    <head>       
                <title>About</title>

         <link rel="stylesheet" href="/css/styles.css">

        
    </head>
    <body>
        <div class="main">
        {{>header}}
        <p>This site is created to get the weather data by using open weather and mapbox APIs.</p>
        <img class="portrait" src="/img/download.jpg">
        </div>
                {{>footer}}

    </body>
</html>