<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
       <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
             {{>header}}

             <p>Weather page!!!</p>

             <form>
                    <input placeholder="Enter location">
                    <button onclick="">Search</button> 

             </form>

           <p id="message-1"></p>
           <p id="message-2"></p>  

        </div>
        
        {{>footer}}
    <script src="/js/capp.js"></script>
    </body>
</html>